.btnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 6px;
}

.btnContainer button {
  background: none;
  border: none;
  cursor: pointer;
}

.addBtn {
  width: 100%;
}
