.btnContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 6px;
  padding: 6px;
  align-items: center;
}

.btnContainer button {
  background: none;
  border: none;
  cursor: pointer;
}

.addBtn {
  width: 100%;
}

.itemCount {
  font-size: 18px;
  font-weight: 600;
}
