.card {
  max-width: 450px;
  height: 250px;
  display: grid;
  padding: 12px;
  border-radius: 6px;
  grid-template-columns: 200px 1fr;
  /* grid-template-columns: minmax(auto, 220px) 1fr; */
  grid-template-rows: auto min-content 48px 1fr 48px;
  grid-template-areas:
    'image title'
    'image category'
    'image price'
    'image description'
    'image quantityBtn';
  align-items: center;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #fff;
  column-gap: 6px;
}

.image {
  grid-area: image;
  max-height: 200px;
  max-width: 200px;
  object-position: 50% 50%;
  object-fit: cover;
  justify-self: center;
}

.title {
  grid-area: title;
  font-size: 18px;
  font-weight: 700;
  overflow-y: hidden;
  max-height: 64px;
  text-overflow: ellipsis;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category {
  grid-area: category;
  font-size: 14px;
  font-weight: 500;
  color: rgb(117, 117, 117);
}

.price {
  grid-area: price;
  font-size: 24px;
  font-weight: 800;
}

.description {
  grid-area: description;
  display: -webkit-box;
  font-size: 12px;
  font-weight: 400;
  max-height: 56px;
  text-overflow: ellipsis;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description::-webkit-scrollbar {
  display: none;
}

.quantityBtn {
  grid-area: quantityBtn;
}
