.container {
  max-width: 1440px;
  margin: 36px auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto;
  grid-template-areas:
    'heading heading'
    'cartlist ordersummary';
  padding: 48px;
  row-gap: 12px;
  column-gap: 16px;
}

.title {
  grid-area: heading;
  height: min-content;
  font-size: 32px;
  margin-bottom: 12px;
}

.summary {
  grid-area: ordersummary;
}

.list {
  grid-area: cartlist;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px 16px;
}
