.card {
  width: 100%;
  height: 200px;
  display: grid;
  padding: 12px;
  border-radius: 6px;
  grid-template-columns: minmax(auto, 100px) repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'image title quantityBtn price closeBtn'
    'image category quantityBtn price closeBtn';
  place-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  column-gap: 12px;
}

.image {
  grid-area: image;
  padding: 24px;
  width: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

.title {
  grid-area: title;
  font-size: 24px;
  font-weight: 700;
}

.category {
  grid-area: category;
  font-size: 16px;
  font-weight: 500;
  color: gray;
}

.price {
  grid-area: price;
  font-size: 32px;
  font-weight: 800;
}

.quantityBtn {
  grid-area: quantityBtn;
}

.closeBtn {
  grid-area: closeBtn;
}
